* {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

button {
    align-self: center;
}

.container {
    display: flex;
    flex-flow: row wrap;
    width: 800px;
    height: 800px;
    align-self: center;
    justify-content: center;
    border: solid red 5px;
}

.gridCube {
    border: solid black .2px;
}

.gridHover {
    background-color: aquamarine;
}